body{
    background: rgba(0, 255, 0, 0.3);
}

/*________________________________________
            Перший блок
            position
______________________________________*/

.container{
    width: 1000px;
    height: 400px;
    background: rgba(255, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px auto;  
}
.big_block{
    background: green;
    width: 300px;
    height: 300px; 
    position: relative;
}
.big_block_sm{
    width: 150px;
    height: 300px;
}
.big_block div{
    position: absolute;
    width: 70px;
    height: 70px;
    background: rgba(0,0,255,0.2);
    opacity: 1;
}
.big_block div:nth-child(1){
   top: 0;
   left: -100px
}
.big_block div:nth-child(2){
   bottom: 0;
   left: -100px
}
.big_block div:nth-child(3){
   bottom: 0;
   right: -100px
}
.big_block div:nth-child(4){
   top: 0;
   right: -100px
}
h2{
    text-align: center;
    margin-top: 50px;   
}
/*________________________________________
            Другий блок
            position
______________________________________*/

.inside_block .big_block div:nth-child(1){
   top: -35px;
   left: 30%;
}
.inside_block .big_block div:nth-child(2){
   bottom: -35px;
   left: 30%;
}
.inside_block .big_block div:nth-child(3){
   top: 40%;
   right: -35px;
}
.inside_block .big_block div:nth-child(4){
   top: 40%;
   left: -35px;
}
/*__________________________________________________
        Floating
_________________________________________________*/
 
 .container .float_block{
    width: 20%;
    height: 80%;
    border: 2px solid seagreen;
}
.float_block div{
    border:  1px solid black;
    margin: 1px;
}
.float_block:first-child div:nth-child(1){
    width: 98%;
    height: 50px
}
.float_block:first-child div:nth-child(2){
    width: 22%;
    height: 208px;
    float: left;
}
.float_block:first-child div:nth-child(3){
    width: 72%;
    height: 208px;
    float: right;
}
.float_block:first-child div:nth-child(4){
    width: 98%;
    height: 50px;
    margin-top: 214px;
}
    